.tablinks {
  background-color: #ffffff;
  padding: 8px 18px;
  cursor: "pointer";
}

.tablinks:hover {
  background-color: #ddd;
}

.tablinks:not(.active) {
  color: gray;
}

.tablinks.active {
  border: 1px solid #ccc;
  border-bottom: 1px solid #ffffff;
  margin-bottom: -1px;
}

.tabpanels {
  padding-top: 10px;
}

.tabpanels:not(.active) {
  display: none;
}

.tabpanel-container {
  border-top: 1px solid #ccc;
}
