button {
  cursor: pointer;
  border: 0;
  padding: 8px 10px;
  background-color: #ffffff;
  border: 1px solid #ccc;
}

input {
  border: solid 1px lightgray;
  border-radius: 1px;
  padding: 4px 6px;
}

button.icon {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  padding: 0;
  border: 0;
  justify-content: center;
  align-items: center;
}

button:hover {
  background-color: #ddd;
}
