.tablinks {
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  padding: 14px 20px;
}

.tablinks:hover {
  background-color: #ddd;
}

.tablinks.active {
  background-color: #ccc;
  border-bottom: 0;
}

button {
  cursor: pointer;
}
