.modal-hidden {
  display: none;
}

.modal {
  z-index: 1001;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-backdrop {
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 0;
  left: 0;
}

.snackbar {
  visibility: hidden;
  text-align: center;
  position: fixed;
  z-index: 9999;
  left: 50%;
  bottom: 30px;
  min-width: 240px;
  margin-left: -120px;
}

.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}