.modal-hidden {
  display: none;
}

.modal-show {
  display: block;
}

.modal {
  z-index: 1001;
}

.modal-backdrop {
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 0;
  left: 0;
}
